Package: com.pookjw.pnamuloveccmodule
Name: PnamuLoveCCModule
Version: 1.0
Architecture: iphoneos-arm
Description: Hearthstone Deck Tracker Helper
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.opa334.ccsupport
